@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600');

.food_desc{
    font-size: 1.1rem;
    font-weight: 400;
}

footer{
    margin-top: 3em;
    background-color: #F9F9F9;
}