footer{
    margin-top: 3em;
    background-color: #F9F9F9;
}
.header-top{
    display: none;
}

.text-block span{
    margin-top: 0;
    display: block;
}
@media only screen and (max-width: 1500px){
    .text-block{
        top: 33%;
        left: 33%;
    
    }
}

@media only screen and (max-width: 1350px){
    .text-block{
        top: 30%;
        left: 30%;
    
    }
}
@media only screen and (max-width: 1052px){
    .main-menu-image img{
        content: url("/images/menu-phone.jpg");
        max-height: 100vh;
    }

    .text-block{
        top: 40%;
        font-size: 4rem;
    }

    
}

@media only screen and (max-width: 975px){
    .sticky .nav-ul {
        margin-top: 5.6em;
    }
    
}

@media only screen and (max-width: 940px){

    html{font-size: 12px;}
}  
@media only screen and (max-width: 900px){
    .nav-home{
        font-size: 10px;
    }
    .sticky .nav-open {
        margin-top: 5.6em;
        height: 254px;
    }

    .nav-ul li a{
        font-size: 1.5rem;
    }
    .text-block{
        top: 40%;
    }
    h2::after{
        height: 4px;
    }
    .food_details h2{
        font-size: 2rem;
    }

    .food_details p{
        font-size: 1rem;
    }
    .notes-menu{
        font-size: 0.7rem;
    }
    .grid{
        display: block;
        margin: 0 25%;
    }
    .food_desc{
        width: 100%;
        max-width: 100%;
    }
    .food_menu{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3em;
    }

    .food_name{
        margin: 0;
    }

    .food_details{
        margin-left: 54px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 774px){
    .text-block{
        top: 40%;
        left: 23%;

    }
    .grid{
        margin-left: 19.5%
    }

    .food_details{
        margin-left: 10px;
    }
}

@media only screen and (max-width: 663px){

    .food_name{
        font-size: 1.6rem;
    }
    .food_desc{
        font-size: 1.2rem;
    }

    .food_details{
        margin-left: 0px;
    }

    


}
@media only screen and (max-width: 639px){
    .dessert-block h1{
        font-size: 3rem;
    }
    .text-block{
        left: 17%;

    }

    .dessert-block{
        left: 22%;
        padding: 14px 19px;
    }
}
@media only screen and (max-width: 548px){
    .text-block{
        padding: 12px 17px;

    }

    .text-block h1{
        font-size: 3.5rem;
    }
    .dessert-block h1{
        font-size: 3rem;
    }

}

@media only screen and (max-width: 458px){
    .text-block{
        top: 40%;
        padding: 9px 14px;

    }
    .text-block h1{
        font-size: 2.8rem;
    }

}

@media only screen and (max-width: 417px){
    .dessert-block{
        top: 30%;
        left: 12%;
    }

    .dessert-block h1{
        font-size: 2.6rem;
    }
}
@media only screen and (max-width: 373px){
    .text-block{
        padding: 10px 12px;
    }
    
    .text-block h1{
        font-size: 2.3rem;
    }

    .dessert-block{
        left: 10%;;
    }

}


.arrow-down{
    height: 60px;
    width: 60px;
    position: absolute;
    border-radius: 50%;
    background: #fff;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    box-shadow: -0px 10px 15px -10px rgba(0,0,0,0.2);
    cursor: pointer;
}
ion-icon{
    color: #EF5411;
    font-size: 32px;
    position: absloute;
    top: 50%;
    transform: translate(40%,50%)

}
