/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

/*
  ###############################################
    ###############################################
                    Home Page
      ###############################################
  ###############################################


*/

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600');

html,*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  
}
body{
    color: #333;
}
html{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}


.clearfix{overflow: auto;}
.clearfix:after{
  content: "";
  clear: both;
  display: table;
}


/* HEADER */


header{
    margin-bottom: 40px;
    height: 110vh;
    background-image: url(../images/Hero-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=0, Color=#000000)";/*IE 8*/
    text-shadow: 0 3px 6px rgba(0,0,0,0.2);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color=#000000); /*IE 5.5-7*/
}

.logo-mobile{
    display: none;
    
}

/* Main Nav*/
.header-top nav ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;

}

.wild-tiger-logo{
    display: inline-block;
    margin-right: 0;
    background-repeat: no-repeat;
    background-size: 461px;
    width: 461px;
    height: 97px;
    text-indent: -99999px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
}

.header-top li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
    margin-top: 20px;
}
.header-top li a {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;

}
.header-top li a:hover {
    color: #EF5411;
}

.header-top a{
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
}

/*Sticky Nav*/
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.98);
    z-index: 99999999;
    box-shadow: 0 2px 2px #efefef;
}
.sticky .nav-ul{
    height: 90px;
}
.sticky li a{
    color: #333;
}
.sticky li:not(.wild-logo-li-black){
    margin-top: 0px;
}
.hero-text{
    display: inline-block;
    margin-top: 11em;
    margin-left: 60px;
}

.wild-tiger-logo-white { background-image: url(../images/WildTiger-Logo.png); }
.sticky .wild-logo-li-white{ display: none;}

.wild-tiger-logo-black{ display: none;}
.sticky .wild-tiger-logo-black{
    display: block;
    background-image: url(../images/WildTiger-logo-black.png);
    background-size: 400px;
}

.sticky .wild-logo-li-black{
    order: -1;
}





.hero-text .btn-orange{
    margin-top: 4em;
}


/* Button's */

.btn-orange{
    display: inline-block;
    color: #fff;
    padding: 25px 45px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    background-color: #EF5411;
    border-radius: 85px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border: 2px solid transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=0, Color=#000000)";
    -webkit-box-shadow: 0 3px 8px 3px rgba(0,0,0,0.1);
    box-shadow: 0 3px 8px 3px rgba(0,0,0,0.1);
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color=#000000); 
}

.btn-orange:hover{
    background-color: #fff;
    color: #EF5411;
    border: 2px solid #EF5411;
}
.btn-orange:active{
    -webkit-transform: scale(0.94);
            transform: scale(0.94)
}
    
/* HEADING'S */

h4{
    font-weight: 400;
    font-size: 1.5rem;
    opacity: .8;
}

h1{
    font-weight: 600;
    font-size: 4rem;
}
h3{
    font-weight: 300;
    font-size: 3rem;
}

h2{
    font-size: 4rem;
    font-weight: 600;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=0, Color=#000000)";/*IE 8*/
    text-shadow: 0 3px 6px rgba(0,0,0,0.2);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color=#000000); /*IE 5.5-7*/

}

h2::after{
    display: block;
    height: 5px;
    width: 200px;
    background-color: #EF5411;
    content: " ";
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 40px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=0, Color=#000000)";/*IE 8*//*FF 3.5+*/
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.2);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color=#000000); /*IE 5.5-7*/
  
}

/* About-Us */


.about-us-img{
    max-width: 80%;;
    height: auto;
    overflow: hidden;


}
.about-us-img img{
    width: 100%;
    height: auto;
}
.about-us{
    max-height: 90vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;        
 }
.about-us-text{
    max-width: 50%;
    text-align: center;
    margin-top: 100px;
    float: right;
    height: auto;
}

.about-us-text p{
    font-size: 2rem;
    line-height: 1.5
}
/* ---------------------------------------------- */
/* MEALS */
/* ---------------------------------------------- */
.meals{
    padding: 0;
    margin-top: 40px;
  
  }
  .meals-show{
    width: 100%;
    list-style: none;
  
  
  }
  .meals-show li{
    display: block;
    width: 25%;
    float:left;
  
  }
  .meals-show li figure{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
  }
  
  .meals-show li figure img{
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0.7;
  
  }
  .meals-show li figure img:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    opacity: 1;
  }
  
/* ---------------------------------------------- */
/* Bar */
/* ---------------------------------------------- */

.bar-section{
    background-image: url(../images/BAAR-FINAALDD.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;  
    height: 90vh;
    color: #fff;
}



.text-bar{
    text-align: left;
    display: inline-block;
    margin-top: 17em;
    margin-left: 60px;
}
.text-bar h2::after{
    display: none;
}
.text-bar .btn-orange{
    margin-top: 80px;
}

/* ---------------------------------------------- */
/* Where to find us */
/* ---------------------------------------------- */

.where-to--section{
    width: 100%;
    height: 750px;
    background-image: url(../images/where-to-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
}
.where-to--head-text{
    text-align: center;
    max-width: 608px;
}
.where-to--main{
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
    margin-top: 90px;
    margin-left: 60px;
    max-width: 615px;
}


.where-to--location{
    font-size: 1.8rem;
}
.horz{
    display: block;
    margin: 5px;
    margin-bottom: 80px;
}
.where-to--location ion-icon{
    vertical-align: middle;
    text-align: center;
    font-size: 2.3rem;
    width: 50px;
    margin-right: -10px;
    color: black;
    margin-top: -10px;
}
.where-to--location span{
    font-weight: 600;
    width: 100px;
}

.where-to--hours{
    -webkit-box-flex: 2;
        -ms-flex: 2 2 0px;
            flex: 2 2 0;
    max-width: 900px;
    text-align: center;
}

.hours-ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 230px;
    font-size: 2rem;
    text-transform: uppercase;
    
}

.hours-ul li{
    padding-bottom: 20px;
    text-align: left;
}
.where-to--hours--location{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    list-style: none;
    margin-left: 270px;
}
.where-to--hours--location::before{
    content: 'Hours:';
    text-transform: capitalize;
    display: inline-block;
    float: left;
    margin-left: -120px;
    padding-right: 20px;
    font-weight: 600; 
}
.where-to--hours--hours{
    list-style: none;
}

/* ---------------------------------------------- */
/* FOOTER */
/* ---------------------------------------------- */

footer{
  padding: 50px;
  font-size: 1rem;
  color: #888;
}
footer ul{
  list-style: none;
}
.footer-nav{
  float: left;
}
.footer-nav a{
  text-decoration: none;
  color: #888;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.footer-nav a:hover{
  color: #EF5411;
}
footer li{
  display: inline-block;
  margin-left: 20px;

}
.social-links{
  float: right;

}

.social-links ion-icon{
  color: #888;
  width: 30px;
  font-size: 170%;
  text-align: center;
  /* align the icon*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
  -webkit-transition: all .2s;
  transition: all .2s;

}
.social-links a ion-icon[name=logo-facebook]:hover{
  color: #3b5998;
}
.social-links a ion-icon[name=logo-twitter]:hover{
  color: #00aced;
}
.social-links a ion-icon[name=logo-googleplus]:hover{
  color: #dd4b39;
}
.social-links a ion-icon[name=logo-instagram]:hover{
  color: #bc2a8d;
}


footer p {
  text-align: center;
  margin-top: 30px;
}
/*
  ###############################################
    ###############################################
                    Menu Page
      ###############################################
  ###############################################


*/
.img-menu{
    position: relative;
}
.img-menu img{
    width: 100%;
    height: auto;
}
.text-block{
    position: absolute;
    top: 35%;
    left: 35%;
    text-align: center;
    background-color: white;
    padding: 20px 25px;
    text-transform: uppercase;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=0, Color=#000000)";/*IE 8*/
    text-shadow: 0 3px 6px rgba(0,0,0,0.2);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color=#000000); /*IE 5.5-7*/

}
.text-block span{
    font-weight: 600;
    font-size: 2rem;
}

.menus-section{
    margin-top: 5em;

}

.menus-section h2{
    text-transform: uppercase;
}

.grid{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: auto;
    grid-row-gap: 60px;
    justify-content: space-between;
}

.food_menu{
    margin-left: 15.6%;
}
.menus-section h2{
    font-size: 2.8rem;
    text-align: center;
}
.menus-section h2::after{
    width: 150px;
}
.food_name{
    display: inline-block;
    color: #EF5411;
    font-size: 1.5rem;
    margin-bottom: 7px;
    margin-right: 8em;
}

.food_price{
    display: inline-block;
    font-size: 1.5rem;
    min-width: 70px;
    margin-top: 20px;
    font-weight: 300;

}

.food_desc{
    margin-top: 5px;
    max-width: 350px;
    min-width: 350px;
    font-weight: 300;
}

.food_details{
    text-align: center;
}

.food_details p{
    line-height: 1.5;
}

.notes-menu{
    text-align: center;
    margin-top: 40px;
    font-weight: 600;
}
.notes-menu span{
    color: rgb(255, 0, 8);
}
.notes-menu-imp{
    margin: 5px;
    color: red;
    font-size: 1.1rem;
}


/* Dessert section */

.desserts{
    margin-top: 15em;
}
/*
  ###############################################
    ###############################################
                    MEDIA QUERIES
      ###############################################
  ###############################################


*/



@media only screen and (min-width: 2250px){
  .bar-section{
      height: 110vh;
  }
  header{
      height: 100vh;
  }

  .about-us-text{
      width: 40%;
      margin-left: 10%;
  }

  .where-to--hours--location{
      margin-left: 370px
  }


}

@media only screen and (min-width: 2050px){
  header{
      height: 131vh;
  }

  .where-to--hours{
      max-width: 60%;
      margin-right: 20px
  }
  
}

@media only screen and (max-width: 1575px){
  .where-to--hours{
      margin-right: 20px;
  }
}


@media only screen and (max-width: 1203px){
  html{font-size: 14px}
  .bar-section{
      height: 65vh;
  }
  .disapper-2-mobile{
      display: none;
  }

  .text-bar{
      margin-top: 15em;
  }

  .hero-text{
      margin-top: 15em;
  }

  .grid{
    grid-template-columns: 400px 400px;
  }
  .food_menu{
      margin-left: 10%;
  }

}

@media only screen and (max-width: 1052px){
  html{font-size: 12px}

  .bar-section{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
  .text-bar{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      justify-items: center;
      margin-top: 10em;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }
  .text-bar h2::after{
      display: block;
  }

  
}

@media only screen and (max-width: 975px){
  .where-to--hours--location{
      margin-left: 200px;
  }
  

  .hero-text{
      display: inline-block;
      margin-top: 20em;
  }

  .nav-open{
      -webkit-clip-path: circle(150% at top right) !important;
              clip-path: circle(150% at top right) !important;

  }
  .sticky .nav-open{
    -webkit-clip-path: circle(225% at top right) !important;
            clip-path: circle(225% at top right) !important;

  }
  .header-top nav ul{
      margin-top: 5.4em;
      display: inline-block;
      position: absolute;
      right: 0;
      background-color: #ffffff;
      -webkit-clip-path: circle(0px at top right);
              clip-path: circle(0px at top right);
      -webkit-transition: all ease-in-out .45s;
      transition: all ease-in-out .45s;

  }

  .sticky .nav-ul {
    margin-top: 6.1em;
    background-color: #fff;
    height: 260px;
}

  .sticky li,
  .header-top nav li{
      margin-top: 0;
      display: block;
      border-bottom: 1px solid #EF5411;
      
  }
  .sticky li a,
  .header-top nav li a{
      color: #EF5411;
      display: block;
      padding: 1em 1.9em;
  }
  .header-top nav li a:hover,
  .header-top nav li a:focus{
      background-color: #EF5411;
      color: #ffffff;
  }
  
  
  .sticky .logo-mobile img:first-child{ display: none; }
  .sticky .logo-mobile img:last-child{ display: block; }
  .logo-mobile img:last-child{ display: none;}
  .wild-tiger-logo, .wild-logo-li{
      display: none !important;
  }


  
  .menu-toggle{
      padding: 1em;
      position: absolute;
      right: 1em;
      top: 30px;
      cursor: pointer;
  }
 
  .hamburgar,
  .hamburgar::after,
  .hamburgar::before{
      content: '';
      display: block;
      background: #EF5411;
      height: 3px;
      width: 2.75em;
      border-radius: 3px;
      -webkit-transition: all ease-in-out 0.45s;
      transition: all ease-in-out 0.45s
  }

  .hamburgar::before{
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);

  }
  .hamburgar::after{
      -webkit-transform: translateY(5px);
              transform: translateY(5px);

  }

  .menu-toggle--open .hamburgar{
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg)

  }

  .menu-toggle--open .hamburgar::before{
      opacity: 0;

  }

  .menu-toggle--open .hamburgar::after{
      -webkit-transform: translateY(-3px) rotate(-90deg);
              transform: translateY(-3px) rotate(-90deg);

  }


  .logo-mobile{
      display: inline-block;
      width: 300px;
      height: auto;
  }

  .logo-mobile img{
      width: 100%;
      margin-top: 10px;
      margin-left: 50px
  }



}


@media only screen and (max-width: 940px){

  html{font-size: 10px;}
  h2::after{
      width: 150px
  }

  .about-us-text{
      margin-top: 30px;
  }

}


@media only screen and (max-width: 773px){
  h2::after{
      width: 120px;
      height: 4px;
  }

  .where-to--head-text{
      margin-right: 28em;
      margin-bottom: 8em;
  }
  .where-to--section{
      background-image: url(../images/Location-image-2.jpg);
      background-size: cover;
      height: auto;
      display: block;
  }

  .hours-ul{
      margin-top: 180px;
      margin-bottom: 30px;
  }



}


@media only screen and (max-width: 760px){

  .about-us-text span{
      display: none;
  }

}


@media only screen and (max-width:660px){
  .hero-text{
      margin-left: 30px;
  }
  
  h2::after{
      height: 3px;
  }
  .logo-mobile{
      margin-left: -30px;
  }

  footer{
      text-align: center;
      padding: 80px
  }

  footer ul{
      margin-top: 30px;
  }
  .footer-nav{
      margin: 0 auto;
      width: 100%;
  }
  .social-links{
      margin: 20px auto;
  }
  footer p {
      margin-top: 120px;
  }
}

@media only screen and (max-width:576px){
  .meals{
      margin-top: 0px;
  }

  .about-us-text{
      font-size: 0.5px;
  }

}

@media only screen and (max-width:560px){
  .hero-text{
      margin-left: 15px;
  }

  .logo-mobile{
      margin-left: -45px;
  }
}

@media only screen and (max-width:500px){
  html{font-size: 8px;}

  .btn-orange{
      padding: 20px 40px;
      font-size: 1.7rem;
  }

  .logo-mobile{
      width: 200px;
  }

  .about-us{
      margin-bottom: 20px;
  }
  .meals{
      display: none;
  }

  .where-to--location{
      font-size: 2rem;
  }

}

@media only screen and (max-width:430px) {

  .where-to--hours--location{
      margin-left: 80px
  }

  .where-to--main{
      margin-left: 15px;
  }
  .where-to--hours--location::before{
      margin-right: 0px;
      margin-left: -65px
  }

  .footer-nav{
      width: 100%;
  }

  .footer-nav li{
      padding-top: 10px;
  }
  .social-links li{
      padding-top: 10px;
  }
  h2::after{
      width: 100px;
  }
  .about-us-img img{
      height: 100%; 
  }
  .about-us-text h2{
      font-size: 3.5rem;
  }

}


@media only screen and (max-height: 630px){
  .text-bar{
      margin-top: 5em;
  }
}






/* ANIMATIONS */
.about-us-text,
.about-us-img,
.text-bar,
.where-to--main,
.where-to--hours{
    opacity: 0;
}